<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>
        <element>
            <name>baseUrl</name>
            <label>Teedy URL</label>
            <description>http://teedy.example.com</description>
        </element>
        <element>
            <name>username</name>
            <label>Username</label>
            <value>admin</value>
        </element>
        <element>
            <name>password</name>
            <label>Password</label>
            <value>admin</value>
        </element>
    </elements>
</config>
